@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-900 text-[#f6f5f8];
  width: 100vw;
  height: 100vh;
  font-family: 'Funnel Sans', sans-serif;
}

.funnel-font {
  font-family: 'Funnel Sans', sans-serif;
}

.cormorant-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active {
  pointer-events: none;
}

button {
  cursor: pointer;
}

.navbar {
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.navlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: width .15s ease-in-out;
  background-color: #93595b;
}

.navlink:hover::after {
  width: 100%;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  transition: box-shadow .15s ease-in-out, transform .15s ease;
}

.card:hover {
  box-shadow: 0 14px 15px rgba(0, 0, 0, .5);
  transform: translateY(-5px);
}

.to-right {
  transition: opacity .9s ease-in-out;
  animation: right .7s ease-in-out;
}

.to-left {
  transition: opacity .9s ease-in-out;
  animation: left .7s ease-in-out;
}

.to-up {
  transition: opacity 1s ease-in-out;
  animation: up .8s ease-in-out;
}

@keyframes right {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes left {
  from {
    transform: translateX(60px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(1px);
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}